@page
@using JFS_Task.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@using (Html.BeginForm("GetBalances", "Balances", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>There are no styles applies here. Please upload the files.</p>
        <p>Balances: <input type="file" name="balance" /></p><br>
        <p>Payments: <input type="file" name="payments" /></p><br>
        <p>File format: 
        @Html.DropDownListFor(m => m.Format,
            new SelectList(Enum.GetValues(typeof(JFS_Task.FileFormat))))
        <input type="submit" value="Ok" />
        </p>
    </div>
}

@if (TempData["Message"] != null)
{
    <div class="text-center">
        <h3>@TempData["Message"]</h3>
    </div>
}